############################################################
# Development environment
############################################################

location             = "France Central"
environment          = "dev"
project_name         = "helloworld"
project_display_name = "Hello World"
resource_suffix      = "f800"
owner                = "John Smith"

############################################################
# Networking configuration
############################################################

# Creates the paid Azure DDoS Network Protection plan and
# associates it with both project VNets.
#
# Recommended values:
#   development/test = false
#   production       = true
enable_ddos_network_protection = false

application_vnet_address_space    = ["10.20.0.0/16"]
app_gateway_subnet_prefixes       = ["10.20.0.0/24"]
app_service_subnet_prefixes       = ["10.20.1.0/26"]
private_endpoints_subnet_prefixes = ["10.20.2.0/27"]

deployment_vnet_address_space      = ["10.30.0.0/16"]
deployment_bastion_subnet_prefixes = ["10.30.0.0/26"]
deployment_agent_subnet_prefixes   = ["10.30.1.0/24"]

############################################################
# Data services
############################################################

storage_account_tier             = "Standard"
storage_account_replication_type = "LRS"

sql_database_sku_name = "Basic"

############################################################
# Microsoft Entra ID
############################################################

sql_administrator_user_principal_name = "<your-entra-user-principal-name>"

############################################################
# App Service
############################################################

app_service_plan_sku_name  = "B1"
app_service_python_version = "3.12"

############################################################
# Deployment platform
############################################################

deployment_agent_vm_size        = "Standard_D2als_v7"
deployment_agent_admin_username = "azureuser"

deployment_agent_ssh_public_key_path = (
  "~/.ssh/ssh-azure-helloworld-deployment-agent.pub"
)

############################################################
# Monitoring
############################################################

log_analytics_retention_in_days = 30

############################################################
# Alerting
############################################################

action_group_email_address = "<your-email-to-receive-alert>"
